@font-face{
	font-family: gothampro;
	font-display: swap;
	src: url("../fonts/gothampro.woff2") format("woff2"), url("../fonts/gothampro.woff") format("woff");
	font-weight: 400;
	font-style: normal;
}
@font-face{
	font-family: gothampro;
	font-display: swap;
	src: url("../fonts/gothampro.woff2") format("woff2"), url("../fonts/gothampro.woff") format("woff");
	font-weight: 400;
	font-style: normal;
}
@font-face{
	font-family: saniretro;
	font-display: swap;
	src: url("../fonts/saniretro-cyrillic.woff2") format("woff2"), url("../fonts/saniretro-cyrillic.woff") format("woff");
	font-weight: 400;
	font-style: normal;
}
@font-face{
	font-family: saniretro;
	font-display: swap;
	src: url("../fonts/saniretro-cyrillic.woff2") format("woff2"), url("../fonts/saniretro-cyrillic.woff") format("woff");
	font-weight: 400;
	font-style: normal;
}
